<div class="row-fluid">
  <div class="offset3">
      <img src="<%= image_path("pinittowinit.jpg") %>">
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h1>
      How to enter:
    </h1>
    <h2>Step 1 <small>Follow us</small></h2>
    <p>Follow @tandjdesigns on pinterest <a data-pin-do="buttonFollow" href="http://pinterest.com/tandjdesigns/">tandjdesigns</a></p>
    <h2>Step 2 <small>Pin 3 images</small></h2>
    <p>Pick your favorite 3 images and pin them</p>
    <ol class="inline">
      <li>
        <div class="pin-button">
          <img src="<%= image_path("_thumb/image1.jpg") %>" class="img-polaroid">
          <a href="//pinterest.com/pin/create/button/?url=https://tjdpincontest.herokuapp.com&media=<%= image_url("image1.jpg") %>" data-pin-do="buttonBookmark" target="_blank"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"/></a>
        </div>
      </li>
      <li>
        <div class="pin-button">
          <img src="<%= image_path("_thumb/image2.jpg") %>" class="img-polaroid"><a href="//pinterest.com/pin/create/button/?url=https://tjdpincontest.herokuapp.com&media=<%= image_url("image2.jpg") %>" data-pin-do="buttonBookmark" target="_blank"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"/></a>
        </div>
      </li>
      <li>
        <div class="pin-button">
          <img src="<%= image_path("_thumb/image3.jpg") %>" class="img-polaroid"><a href="//pinterest.com/pin/create/button/?url=https://tjdpincontest.herokuapp.com&media=<%= image_url("image3.jpg") %>" data-pin-do="buttonBookmark" target="_blank"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"/></a>
        </div>
      </li>
      <li>
        <div class="pin-button">
          <img src="<%= image_path("_thumb/image4.jpg") %>" class="img-polaroid"><a href="//pinterest.com/pin/create/button/?url=https://tjdpincontest.herokuapp.com&media=<%= image_url("image4.jpg") %>" data-pin-do="buttonBookmark" target="_blank"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"/></a>
        </div>
      </li>
      <li>
        <div class="pin-button">
          <img src="<%= image_path("_thumb/image5.jpg") %>" class="img-polaroid"><a href="//pinterest.com/pin/create/button/?url=https://tjdpincontest.herokuapp.com&media=<%= image_url("image5.jpg") %>" data-pin-do="buttonBookmark" target="_blank"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"/></a>
        </div>
      </li>
    </ol>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h2>Step 3 <small>Fill in an entry</small></h2>
    <p>Tell us who you are so we can contact you when you win!</p>
      <%= simple_form_for @entry do |f| %>
        <%= f.input :email %>
        <%= f.input :username, label: "Pinterest Username" %>
        <p><small>By entering this giveaway you give t+j designs permission to add you to our email list to get news about our sales, promotions and other announcements.</small></p>
        <%= f.button :submit, class: "btn btn-large btn-primary" %>
      <% end %>

  </div>
</div>
